{% extends "base.html" %}
{% block content %}
  <h3>Add Student</h3>
  <form method="post" action="{{ url_for('add_student') }}">
    <div class="mb-3">
      <label>Registration Number</label>
      <input class="form-control" name="reg_no" required>
    </div>
    <div class="mb-3">
      <label>Full Name</label>
      <input class="form-control" name="name" required>
    </div>
    <div class="mb-3">
      <label>Department</label>
      <input class="form-control" name="department">
    </div>
    <div class="mb-3">
      <label>Date of Birth</label>
      <input class="form-control" name="dob" placeholder="YYYY-MM-DD">
    </div>
    <button class="btn btn-primary">Add</button>
  </form>
{% endblock %}